@charset "UTF-8";

body {
    background-color: greenyellow;
    font-family:  Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(2, 112, 2);
}

.basico {
    color: rgb(41, 238, 41);

}

.intermediario {
    color: yellow;

}

.avancado {
    color: red;

}

.destaque {
    background-color: rgb(189, 16, 39);
}



